.account{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 900px;
    margin: 0;
    padding: 0;
    gap: 50px;
}

.account__heading{
    margin-bottom: 0;
    padding: 0;
}

.account__profile{
    display: flex;
    align-items: center;
    max-width: 400px;
    max-height: 105px;
    gap: 50px;
}

.account__avatar{
    width: 105px;
    height: 105px;
    border-radius: 50%;
}

.account__user{
    display: flex;
    flex-direction: column;
    height: 70px;
}

.account__user-name{
    font-size: 22px;
    line-height: 1;
    max-width: 300px;
    margin: 0;
    padding: 0;
}

.account__user-about{
    font-size: 18px;
    line-height: 1.2;
    margin-top: 5px;
    padding: 0;
}

.account__projects{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 80px;
    row-gap: 55px;
}

.account__project{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 155px;
    background-color: #c3c3c3;
    border-radius: 10px;
    gap: 55px;
}

.account__project-image{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.account__project-text{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 70px;
    gap: 20px;
}

.account__project-title{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.account__project-description{
    font-size: 14px;
    line-height: 1,2;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .account{
        height: 1300px;
    }

    .account__projects{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        row-gap: 25px;
    }

    .account__project{
        width: 740px;
    }
}

@media screen and (max-width: 544px) {
    .account{
        height: 1150px;
    }

    .account__project{
        width: 300px;
        height: 120px;
        gap: 10px;
    }

    .account__project-image{
        width: 80px;
        height: 80px;
    }

    .account__project-text{
        width: 180px;
        gap: 10px;
    }

    .account__project-description{
        overflow: hidden;
    }
}
