.main{
    display: flex;
    justify-content: center;
    width: 95%;
    height: 900px;
}

.main__content{
    display: flex;
    align-items: center;
    gap: 150px;
}

.main__text{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 540px;
}

.main__title{
    width: 540px;
    font-size: 36px;
    line-height: 1.2;
}

.main__subtitle{
    width: 540px;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 20px;
}

.main__image{
    width: 530px;
    height: 530px;
}
