.navbar {
    display: flex;
    justify-content: center;
    max-width: 480px;
    max-height: 20px;
    gap: 70px;
}

.navbar__link {
    width: 70px;
    height: 20px;
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.navbar__link:hover {
    color: #6E6E6E;
}

.navbar__link:selected{
    font-weight: bold;
}
